@model IEnumerable<AzureWebAppComponent.Models.Order>

@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("New Order", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.CreatedDate)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Customer.CustomerName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Employee.FirstName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.OrderProducts)
		</th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.CreatedDate)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Customer.CustomerName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Employee.FirstName)
			</td>
			<td>
				<ul>
					@foreach (var product in item.OrderProducts)
					{
						<li>
							@Html.DisplayFor(productItem => product.Product.ProductName)
						</li>
					}
				</ul>
			</td>
		</tr>
	}
</table>